:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.635);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.779);
  color: white;
}

fieldset {
  background-color: rgba(223, 213, 232, 0.477);
  padding: 50px 200px;
  color: black;
}